@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
:root {
  --main1-color: #f8f0e5;
  --main2-color: #eadbc8;
  --main3-color: #dac0a3;
  --main4-color: #0f2c59;
  --black-color: #000000;
  --white-color: #ffffff;
  --red-color: #ff0000;
  --yellow-color: #fcae05;
}

* {
  margin: 0;
  padding: 0;

  font-family: Pretendard;
}

body {
  min-width: 480px;
}

a {
  text-decoration: none;
  color: var(--black-color);
}

a:link {
  text-decoration: none;
}

input:focus {
  outline: none;
}

main {
  margin: 20px;
}
