div.col-sm-1 {
  text-align: center;
}

div.form-check {
  display: inline-block;
}

.col-sm-1,
.col-sm-10 {
  margin-top: 0.5em;
}

.form-check-input {
  margin-top: 0.2em;
}

div.search-line {
  margin: 10px 10px;
  width: 100%;

  border: 1px solid var(--main2-color);
}

.status {
  padding: 3px;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: var(--main2-color);
}

#show-review-star-icon {
  color: var(--yellow-color);
}

#btn_top {
  position: fixed;
  right: 40px;
  bottom: 40px;
  z-index: 999;
  opacity: 0.5;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

#btn_top:hover {
  background-color: black;
  transition: 0.3s;
  transform: scale(1.1);
}
