@import url("../util/base.css");
/* var(--bs-body-font-family) */

body{
  width: 100%;
  height: 100%;
}


#section-layout{
  width: 40%;
  margin: auto;
  margin-left: 30%;
  margin-top: 100px;
  margin-bottom: 300px;
  padding: 50px;
  border-style: solid;
  border-color: var(--main4-color);
  padding: 50px;
}

button[type="submit"] {
  width: 100%;
}
