@import url("../util/base.css");

section{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

section>input.radio{
    display: block;
}

#modify-layout{
    width: 40%;
    margin: auto;
    margin-left: 30%;
    margin-top: 50px;
    border-style: solid;
    border-color: var(--main4-color);
    padding: 50px;
}

button[type="submit"] {
    width: 100%;
}