@import url("../util/base.css");

#mypage-review-containers {
  display: flex;
  justify-content: center;
}

.mypage-myreview-review-container {
  margin: 12px 0;
  min-width: 80%;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.mypage-myreview-review-post {
  margin-left: 12px;
  width: 7.5%;

  aspect-ratio: 83/121;
}

.mypage-myreview-main-text {
  font-size: 1.5em;
}

.mypage-myreview-review-line-icon {
  font-size: 24px;

  transform: rotate(51.5deg);
}

#mypage-myreview-review-info {
  margin-left: 12px;
  width: 80%;
}

#mypage-myreview-review-show-info {
  margin-bottom: 12px;

  display: flex;

  white-space: nowrap;

  opacity: 0.5;
}

#mypage-myreview-review-evaluation-info {
  display: flex;
}

#mypage-myreview-review-star-icon {
  color: var(--yellow-color);
}

#mypage-myreview-review-content {
  margin-left: 12px;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;

  overflow: hidden;
  word-break: break-word;
  font-size: 1.25em;
  text-overflow: ellipsis;
  text-align: left;
}

#mypage-myreview-review-button {
  display: flex;

  white-space: nowrap;

  opacity: 0.5;
}

.mypage-myreview-review-line {
  margin: 20px 36px;

  opacity: 0.5;
  border: 1px solid var(--black-color);
}
