<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>
	<servlet>
		<servlet-name>SelectReview</servlet-name>
		<display-name>SelectReview</display-name>
		<description></description>
		<servlet-class>com.kosa.showfan.control.SelectReview</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>InsertReviewController</servlet-name>
		<display-name>InsertReviewController</display-name>
		<description></description>
		<servlet-class>com.kosa.showfan.control.InsertReviewController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteReviewController</servlet-name>
		<display-name>DeleteReviewController</display-name>
		<description></description>
		<servlet-class>com.kosa.showfan.control.DeleteReviewController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateReviewController</servlet-name>
		<display-name>UpdateReviewController</display-name>
		<description></description>
		<servlet-class>com.kosa.showfan.control.UpdateReviewController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DispatcherServlet</servlet-name>
		<display-name>DispatcherServlet</display-name>
		<description></description>
		<servlet-class>com.kosa.showfan.controller.DispatcherServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>InsertReplyController</servlet-name>
		<display-name>InsertReplyController</display-name>
		<description></description>
		<servlet-class>com.kosa.showfan.review.controller.InsertReplyController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateReplyController</servlet-name>
		<display-name>UpdateReplyController</display-name>
		<description></description>
		<servlet-class>com.kosa.showfan.reply.controller.UpdateReplyController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteReplyController</servlet-name>
		<display-name>DeleteReplyController</display-name>
		<description></description>
		<servlet-class>com.kosa.showfan.reply.controller.DeleteReplyController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SelectReview</servlet-name>
		<url-pattern>/selectreview</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>InsertReviewController</servlet-name>
		<url-pattern>/insertreview</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteReviewController</servlet-name>
		<url-pattern>/deletereview</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateReviewController</servlet-name>
		<url-pattern>/updatereview</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DispatcherServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>InsertReplyController</servlet-name>
		<url-pattern>/insertreply</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateReplyController</servlet-name>
		<url-pattern>/updatereply</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteReplyController</servlet-name>
		<url-pattern>/deletereply</url-pattern>
	</servlet-mapping>

</web-app>
