<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <display-name>LoginController</display-name>
        <description></description>
        <servlet-class>com.kosa.showfan.member.service.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CookieServlet</servlet-name>
        <display-name>CookieServlet</display-name>
        <description></description>
        <servlet-class>com.kosa.showfan.member.service.Cookie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <display-name>LogoutServlet</display-name>
        <description></description>
        <servlet-class>com.kosa.showfan.member.service.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowServlet</servlet-name>
        <display-name>ShowServlet</display-name>
        <description></description>
        <servlet-class>com.kosa.showfan.show.ShowServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowDetailServlet</servlet-name>
        <display-name>ShowDetailServlet</display-name>
        <description></description>
        <servlet-class>com.kosa.showfan.show.ShowDetailServlet</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>SignupController</servlet-name>
    	<display-name>SignupController</display-name>
    	<description></description>
    	<servlet-class>com.kosa.showfan.member.controller.SignupController</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>NicknameDupChkServlet</servlet-name>
    	<display-name>NicknameDupChkServlet</display-name>
    	<description></description>
    	<servlet-class>com.kosa.showfan.member.controller.NicknameDupChkServlet</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>SendMail</servlet-name>
    	<display-name>SendMail</display-name>
    	<description></description>
    	<servlet-class>com.kosa.showfan.member.controller.SendMail</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/loginmem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CookieServlet</servlet-name>
        <url-pattern>/cookiemem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logoutmem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowServlet</servlet-name>
        <url-pattern>/ShowServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowDetailServlet</servlet-name>
        <url-pattern>/ShowDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>SignupController</servlet-name>
    	<url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>NicknameDupChkServlet</servlet-name>
    	<url-pattern>/nicknamedupchk</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>SendMail</servlet-name>
    	<url-pattern>/sendmail</url-pattern>
    </servlet-mapping>
</web-app>